.reveal section img {
  border: none;
  background: none;
}

.reveal pre {
  line-height: 1.5;
  font-size: 1em;
  width: 100%;
}

.marker {
  color: #e7ad52;
}

.hljs-prompt,
.hljs-variable {
  color: #00B922 !important;
}